header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-inline-end: auto;
}

#header-title {
    color: lightblue;
}
/* Navigation */
.nav {
    background-color: #3F2E97;
    padding: 10px;
    margin: 10px;
}



.search {
    border: 1px solid purple;
    border-radius: 10px;
}

#backup-search {
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    color: purple;
    text-shadow: #fff 1px 1px 1px;
}

.gcse-search {
    z-index: -1;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
}
.nav a {
    margin: 0 10px;
    color: #FFFFFF;
    text-decoration: none;
}
.search-- {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Form */
form {
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}



img {
    height: 400px;
    display: inline-block;
}

#search-h3 {
    margin-right: 10%;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    color: darkblue;
    text-shadow: gray 1px 1px 1px;
}

.image-section {
    margin-left: 40%;
    color: black;
    text-shadow: purple 1px 1px 1px;
}

.game {
    margin-left: 40%;
    color: black;
    text-shadow: purple 1px 1px 1px;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-left: 40%;
}
button[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}
