/* assets.css */

/* Header */
header {
    background-color: hsl(244, 55%, 55%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation */
.nav {
    background-color: #beb7b7;
    padding: 10px;
    text-align: center;
}

.nav a {
    margin: 0 20px;
    color: #333;
    text-decoration: none;
}
.search-- {
    padding-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    
}

/* Form */
form {
    margin-top:20px;
    text-align: center;
    align-items: center;
}
form {
    margin-top: 200px;
    text-align: center;
    align-items: center;
   
}

input[type="text"] {
    padding: 5px;
    width: 200px;
   
   
}



button[type="submit"] {
    padding: 5px 10px;
    background-color: #dd3535;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/* Image Section */
.image-section {
    text-align: center;
    margin-top: 20px;
}

.image-section h1 {
    font-size: 24px;
}

.image-section img {
    width: 500px;
}

.image-section p {
    margin-top: 10px;
}


 